 <div class="container" id="hed">
    <h1 >Motivating Quotes.</h1>
     
<div class="row">
        <div class="col-md-6">
            <hr>
            <div class="myQuote" *ngFor="let quote of quotes; let i=index">
                <p appHighlight *ngIf="highestUpvote()===quote.upvotes && quote.upvotes>0">{{quote.quote}}</p>
                <p *ngIf="highestUpvote()!==quote.upvotes || quote.upvotes===0">{{quote.quote}}</p>
                <app-quote-detail [quote]="quote"></app-quote-detail>

                <button class="btn btn-primary" (click)="upvote(i)" id="new">Like</button>
                
                <button class="btn btn-secondary" (click)="downvote(i)" id="new">Dislike</button>
                
                <button class="btn btn-danger" (click)="delQuote(i)" id="new">Delete</button>
                
                <hr>
               </div>
        </div>
        <div class="col-md-6">
         <div class="card wow fadeInRight" data-wow-delay="0.3s">
     <app-quote-form (emitQuote)="addQuote($event)"></app-quote-form>
      </div>
   </div>
 </div>
 </div>


